
NULL = Unknown value

Contraints:
=============

•	NOT NULL 

•	DEFAULT

•	PRIMARY KEY  
     .composite primary key
	 .auto_increment is best for primary key

•	UNIQUE 

•	FOREIGN KEY

•	CHECK 

•	INDEX 

 


1.NOT NULL:
===============================================

create table employee(first_name varchar(20) NOT NULL,
middle_name varchar(20) ,
last_name varchar(20) NOT NULL,
age int NOT NULL,
salary int NOT NULL,
experience float NOT NULL,
location varchar(20) NOT NULL
);

Check table schema:
-------------------
desc employee;


2. default values:
===============================================
create table employee(first_name varchar(20) NOT NULL,
middle_name varchar(20) ,
last_name varchar(20) NOT NULL,
age int NOT NULL,
salary int NOT NULL,
experience float NOT NULL,
location varchar(20) default 'Narsampet'
);

Check table schema:
------------------
desc employee;

insert multiple records into tables:
-----------------------------------
insert into employee(first_name,last_name ,age ,salary ,experience ,location) values('Sandeep','Nookala',28,90000,4.5,Null),('Satish','Nookala',28,190000,9.5,'Hyderabad');

insert into employee(first_name,last_name ,age ,salary ,experience) values('anusha','Nookala',27,100,2),('swathi','Nookala',18,10,0.1),('Krishna','Nookala',60,200000,30),('Padma','Nookala',50,10000,20);

reading data:
-------------
select * from employee;


Combination of NOTNULL and Default values:
===============================================

create table employee(first_name varchar(20) NOT NULL,
middle_name varchar(20) ,
last_name varchar(20) NOT NULL,
age int NOT NULL,
salary int NOT NULL,
experience float NOT NULL,
location varchar(20) NOT NULL default 'Narsampet'
);

insert multiple records into tables:
-----------------------
insert into employee(first_name,last_name ,age ,salary ,experience ,location) values('Sandeep','Nookala',28,90000,4.5,'bangalore'),('Satish','Nookala',28,190000,9.5,'Hyderabad');

insert into employee(first_name,last_name ,age ,salary ,experience) values('anusha','Nookala',27,100,2),('swathi','Nookala',18,10,0.1),('Krishna','Nookala',60,200000,30),('Padma','Nookala',50,10000,20);

read Data:
----------
select * from employee;

Check table schema:
-------------------
desc employee;


3. Primary Key:
===============================================

create table if not exists employee(
id int primary key,
first_name varchar(20) not null,
middle_name varchar(20),
last_name varchar(20) not null,
age int not null,
salary int not null,
experience float not null,
location varchar(20) not null default 'Narsampet'
);

multiple inserts:
-----------
insert into employee(id,first_name,last_name ,age ,salary ,experience ,location) values(4,'Sandeep','Nookala',28,90000,4.5,'bangalore'),(3,'Satish','Nookala',28,190000,9.5,'Hyderabad');

insert into employee(id,first_name,last_name ,age ,salary ,experience) values(5,'anusha','Nookala',27,100,2),(6,'swathi','Nookala',18,10,0.1),(1,'Krishna','Nookala',60,200000,30),(2,'Padma','Nookala',50,10000,20);

read Data:
----------
select * from employee;

Check table schema:
-------------------
desc employee;


composite primary key:
--------------------
create table if not exists employee(
first_name varchar(20) not null,
middle_name varchar(20),
last_name varchar(20) not null,
age int not null,
salary int not null,
experience float not null,
location varchar(20) not null default 'Narsampet',
primary key (first_name,last_name)
);

multiple inserts:
-----------
insert into employee(first_name,last_name ,age ,salary ,experience ,location) values('Sandeep','Nookala',28,90000,4.5,'bangalore'),('Satish','Nookala',28,190000,9.5,'Hyderabad');

insert into employee(first_name,last_name ,age ,salary ,experience) values('anusha','Nookala',27,100,2),('swathi','Nookala',18,10,0.1),('Krishna','Nookala',60,200000,30),('Padma','Nookala',50,10000,20);

read Data:
----------
select * from employee;

Check table schema:
-------------------
desc employee;


Check table schema:
-------------------
desc employee;

Auto increment is best for primarykey:
---------------------------------------

create table employee(
id int auto_increment,
first_name varchar(20) NOT NULL,
middle_name varchar(20) ,
last_name varchar(20),
age int NOT NULL,
salary int NOT NULL,
experience float NOT NULL,
location varchar(20) NOT NULL default 'Narasampet',
primary key(id),
unique key (first_name ,last_name)
);

multiple inserts:
-----------
insert into employee(first_name,last_name ,age ,salary ,experience ,location) values('Sandeep','Nookala',28,90000,4.5,'bangalore'),('Satish','Nookala',28,190000,9.5,'Hyderabad');

insert into employee(first_name,last_name ,age ,salary ,experience) values('anusha','Nookala',27,100,2),('swathi','Nookala',18,10,0.1),('Krishna','Nookala',60,200000,30),('Padma','Nookala',50,10000,20);

Check table schema:
-------------------
desc employee;




4.Unique key:
===============================================
create table if not exists employee(
id int auto_increment,
first_name varchar(20) not null,
middle_name varchar(20),
last_name varchar(20),
age int not null,
salary int not null,
experience float not null,
location varchar(20) not null default 'Narsampet',
primary key(id),
unique key (first_name,last_name)
);

multiple inserts:
-----------
insert into employee(id,first_name,last_name ,age ,salary ,experience ,location) values(1,'Sandeep','Nookala',28,90000,4.5,'bangalore'),(2,'Satish','Nookala',28,190000,9.5,'Hyderabad');

insert into employee(id,first_name,last_name ,age ,salary ,experience) values(3,'anusha','Nookala',27,100,2),(4,'swathi',NULL,18,10,0.1),(5,'Krishna','Nookala',60,200000,30),(6,'Padma','Nookala',50,10000,20);

read Data:
----------
select * from employee;

Check table schema:
-------------------
desc employee;

